In [1]:
employee_1 = ["Saad", 27, 45000]

In [3]:
employee_1 = [["Name", "age", "Salary"],
               ["Saad",  27,    45000]]

In [4]:
employee_1 = {"Name":"Saad","age":27 ,"salary":45000} # set = {1,2,3,5,} but dict is a key value pair

In [5]:
employee_2 = {}

In [6]:
type(employee_2)

dict

In [7]:
employee_2["Name"] = "Rizwan"
employee_2["age"] = 23
employee_2["salary"] = 23000

In [8]:
employee_2

{'Name': 'Rizwan', 'age': 23, 'salary': 23000}

In [9]:
employee_2["age"]

23

In [10]:
employee_2["age"] = 24

In [11]:
employee_2

{'Name': 'Rizwan', 'age': 24, 'salary': 23000}

In [12]:
employee_2["age"] += 1

In [13]:
employee_2

{'Name': 'Rizwan', 'age': 25, 'salary': 23000}

In [14]:
# del employee_2["age"]

In [15]:
a = [4,5,"abc", 4.0]

In [16]:
"Abc" in a

False

In [17]:
"Abc" not in a

True

In [18]:
"Name" in employee_2

True

In [19]:
employee_2

{'Name': 'Rizwan', 'age': 25, 'salary': 23000}

In [20]:
"Rizwan" in employee_2

False

In [21]:
import csv

data = list(csv.reader(open("AppleStore.csv", encoding = "utf-8")))

In [22]:
header = data[0]
applestore = data[1:]

In [23]:
fruits = ["Apple", "Mango", "Grape", "Orange", "Mango", "Grape", "Mango", "Grape"
         , "Mango", "Grape", "Mango", "Grape", "Mango", "Grape"
         , "Mango", "Grape","Apple", "Mango","Apple", "Mango","Apple", "Mango"
         ,"Apple", "Mango","Apple", "Mango", "Grape", "Orange", "Grape", "Orange"]

In [24]:
len(fruits)

30

In [ ]:
# 12 M
# 6 A
# 9 G
# 3 O

In [25]:
fruits_freq = {}

for f in fruits:
    if f not in fruits_freq:
        fruits_freq[f] = 1

    elif f in fruits_freq:
        fruits_freq[f] += 1

In [26]:
fruits_freq

{'Apple': 6, 'Mango': 12, 'Grape': 9, 'Orange': 3}

In [27]:
fruits_freq = {}

for f in fruits:
    if f not in fruits_freq:
        fruits_freq[f] = 1

    else:
        fruits_freq[f] += 1

In [28]:
fruits_freq

{'Apple': 6, 'Mango': 12, 'Grape': 9, 'Orange': 3}

In [33]:
fruits_freq = {}
for f in fruits:
    if f in fruits_freq:
        fruits_freq[f] += 1

    else:
        fruits_freq[f] = 1

In [34]:
fruits_freq

{'Apple': 6, 'Mango': 12, 'Grape': 9, 'Orange': 3}

In [35]:
import collections

In [37]:
collections.Counter(fruits)

Counter({'Apple': 6, 'Mango': 12, 'Grape': 9, 'Orange': 3})

In [40]:
genres_counts = {}
for i in applestore:
    genre = i[-5]
    if genre not in genres_counts:
        genres_counts[genre] = 1
    else:
        genres_counts[genre] += 1

In [41]:
genres_counts

{'Social Networking': 167,
 'Photo & Video': 349,
 'Games': 3862,
 'Music': 138,
 'Reference': 64,
 'Health & Fitness': 180,
 'Weather': 72,
 'Utilities': 248,
 'Travel': 81,
 'Shopping': 122,
 'News': 75,
 'Navigation': 46,
 'Lifestyle': 144,
 'Entertainment': 535,
 'Food & Drink': 63,
 'Sports': 114,
 'Book': 112,
 'Finance': 104,
 'Education': 453,
 'Productivity': 178,
 'Business': 57,
 'Catalogs': 10,
 'Medical': 23}

### Commands

* print()
* type()
* len()
* int()

In [42]:
2**2

4

In [43]:
3**2

9

In [44]:
4**2

16

In [45]:
def square(x):  # here x is a parameter
    x**2
    return "Waqas"

In [46]:
square(2)

'Waqas'

In [47]:
def square(x):  # here x is a parameter
    return x**2

In [51]:
square(8)

64

In [53]:
print(fruits)

['Apple', 'Mango', 'Grape', 'Orange', 'Mango', 'Grape', 'Mango', 'Grape', 'Mango', 'Grape', 'Mango', 'Grape', 'Mango', 'Grape', 'Mango', 'Grape', 'Apple', 'Mango', 'Apple', 'Mango', 'Apple', 'Mango', 'Apple', 'Mango', 'Apple', 'Mango', 'Grape', 'Orange', 'Grape', 'Orange']

In [54]:
len(fruits)

30

In [55]:
count = 0

for i in fruits:
    count += 1

In [56]:
count

30

In [57]:
def length(lst):
    count = 0
    for i in lst:
        count += 1
    return count

In [58]:
length(fruits)

30

In [59]:
genres_counts = {}
for i in applestore:
    genre = i[-5]
    if genre not in genres_counts:
        genres_counts[genre] = 1
    else:
        genres_counts[genre] += 1

In [61]:
# genres_counts

In [62]:
def freq_table(data, index):
    freq = {}
    for i in data:
        item = i[index]
        if item not in freq:
            freq[item] = 1
        else:
            freq[item] += 1
    return freq

In [63]:
freq_table(applestore, -6) # arguments - postional

{'4+': 4433, '12+': 1155, '9+': 987, '17+': 622}

In [64]:
freq_table(applestore, -9)

{'3.5': 702,
 '4.5': 2663,
 '4': 1626,
 '3': 383,
 '5': 492,
 '2.5': 196,
 '2': 106,
 '1.5': 56,
 '1': 44,
 '0': 929}

In [65]:
freq_table(index = -6, data  = applestore) # arguments - keywords

{'4+': 4433, '12+': 1155, '9+': 987, '17+': 622}