In [1]:
23+6

29

In [2]:
3*2

6

In [3]:
3-2

1

In [4]:
3/3

1.0

In [5]:
3**2

9

In [6]:
2**3

8

In [7]:
3%2 # modulus

1

In [8]:
3/2

1.5

In [9]:
3//2 # floor division - integer divsion

1

In [11]:
(3+2)*3/2-1 # comments

6.5

PEMDAS

* P - Paranthesis
* E - Exponent
* MD - Multiplication and divison
* As - Addition and substraction

In [10]:
5*3/2-1

15/2-1

7.5-1
6.5

6.5

In [12]:
3+6
5-2

3

In [13]:
print(3+6)
5-2

9

3

In [14]:
print(3+6)
print(5-2)

9
3

In [15]:
3+5

8

In [16]:
3+5

8

In [17]:
data = 3+5 # variable

In [18]:
data

8

In [19]:
data

8

In [20]:
d = 9

In [21]:
d

9

In [22]:
data + d

17

# Legal Variable

1. Variable can be a letter, number and underscore
2. Number cant be come at start

In [ ]:
num_1 = 9 # here = sign is called assignement operator
num 1 = 9
1_num = 9
num@1 = 9

In [23]:
type(5)

int

In [24]:
type(5.0)

float

In [25]:
type("employee_1")

type('employee_1')

str

In [26]:
type("5")

str

In [27]:
number = 6

In [ ]:
vary - variable

In [28]:
age = 25

In [29]:
age = 26

In [30]:
age

26

In [31]:
age = age + 1

In [32]:
age

27

In [33]:
age + 1

28

In [34]:
age

27

In [35]:
age +=1   # age = age + 1

In [36]:
age

28

In [37]:
age -=1

In [38]:
age

27

In [39]:
age *=2

In [40]:
age

54

In [41]:
age /=2 # age = age/2

In [42]:
age

27.0

In [44]:
float(5) # change a data type into another data type is called type casting

5.0

In [45]:
int(5.0)

5

In [46]:
str(5)

'5'

In [47]:
int("5")

5

In [48]:
int("Waqas")

ValueError: invalid literal for int() with base 10: 'Waqas'

In [49]:
int("5.0")

ValueError: invalid literal for int() with base 10: '5.0'

In [50]:
float("5.0")

5.0

In [51]:
int(5.0)

5

In [52]:
int(float("5.0"))

5

In [53]:
"Waqas" + "Ali" # concatnate means to gluing text

'WaqasAli'

In [54]:
"Waqas"*2

'WaqasWaqas'

In [ ]:
- ** / % //