In [1]:
genders = ["(Male) ", "", "(FeMale)", "male", " ", "female"]

In [2]:
# genders[0] = genders[0].replace("(","").replace(")","").lower().strip()

In [4]:
for i in range(len(genders)):
    # print(i)
    genders[i] = genders[i].replace("(","").replace(")","").lower().strip()
    if genders[i] == "":
        genders[i] = "unknown"

In [5]:
genders

['male', 'unknown', 'female', 'male', 'unknown', 'female']

In [6]:
years = ["1947","2020","(1880)",""," 1992"]

years_int = []

for i in years:
    yr = i.replace("(","").replace(")","").strip()
    if yr == "":
        yr = 0
    yr = int(yr)
    years_int.append(yr)

In [7]:
years

['1947', '2020', '(1880)', '', ' 1992']

In [8]:
years_int

[1947, 2020, 1880, 0, 1992]

In [9]:
years = ["1947","2020","(1880)",""," 1992"]

years_int = []

for i in years:
    yr = i.replace("(","").replace(")","").strip()
    if yr != "":
        yr = int(yr)
    years_int.append(yr)

In [10]:
years_int
# , "1986-2020"

[1947, 2020, 1880, '', 1992]

In [18]:
complex_year = ["c.1947", "1985's", "(2000)", " ", "-1949"]

bad_chr = ["c", ".", "(",")", "s", "-", " ", "'"]

In [20]:
def clean_year(year):
    year = year
    for bad in bad_chr:
        year = year.replace(bad,"")
    return year

In [23]:
clean_year("1974's")

'1974'

In [25]:
cleanyr = []
for year in complex_year:
    yr =  clean_year(year)
    if yr !="":
        yr = int(yr)
    cleanyr.append(yr)

In [27]:
complex_year = ["c.1947", "1985's", "(2000)", " ", "-1949"]
complex_year

['c.1947', "1985's", '(2000)', ' ', '-1949']

In [26]:
cleanyr

[1947, 1985, 2000, '', 1949]

In [30]:
complex_year = ["c.1947", "1985's", "(2000)", " ", "-1949"]

bad_chr = ["c", ".", "(",")", "s", "-", " ", "'"]

yr_clean = []
for yr in complex_year:
    for bad in bad_chr:
        yr = yr.replace(bad,"")
    if yr!="":
        yr = int(yr)
    yr_clean.append(yr)

In [31]:
yr_clean

[1947, 1985, 2000, '', 1949]

In [32]:
complex_year = ["c.1947", "1985's", "(2000)", " ", "-1949", "1898-1923", "-1963","-1922",
               "1947-1952"]

In [ ]:
# complex_year[4] = complex_year[4].replace("-","")

In [34]:
complex_year1 = []

In [35]:
for i in complex_year:
    if i.startswith("-"):
        i = i.replace("-","")
    complex_year1.append(i)

In [37]:
print(complex_year1)

['c.1947', "1985's", '(2000)', ' ', '1949', '1898-1923', '1963', '1922', '1947-1952']

In [39]:
int((1898+1923)/2)

1910

In [40]:
'1898-1923'.split("-")

['1898', '1923']

In [58]:
time1 = "2020-12-1 6:15" # 12 jan 2020
time2 = "2020-12-1 20:35"  # 10 Dec 2020

In [54]:
time1>time2

True

In [55]:
int("1947")

1947

In [56]:
import datetime as dt

In [59]:
time1frmt = "%Y-%m-%d %H:%M"

dt.datetime.strptime(time1,time1frmt)

datetime.datetime(2020, 12, 1, 6, 15)

In [60]:
type(dt.datetime.strptime(time1,time1frmt))

datetime.datetime

In [ ]:
# dt.datex.strptime()
# dt.timex.strptime()

datetime documentation

%d Day of the month as a zero-padded number 04
%A Day of the week as a word Monday
%m Month as a zero-padded number 09
%Y Year as a four-digit number 1901
%y Year as a two-digit number with zero-padding 01 (2001) 88 (1988)
%B Month as a word September
%H Hour in 24 hour time as zero-padded number 05 (5 a.m.) 15 (3 p.m.)
%p a.m. or p.m.2 AM
%I Hour in 12 hour time as zero-padded number 05 (5 a.m., or 5 p.m. if AM/PM indicates otherwise)
%M Minute as a zero-padded number 07

In [62]:
time = "6:35pm"

frmt = "%I:%M%p"

dt.datetime.strptime(time, frmt)

datetime.datetime(1900, 1, 1, 18, 35)

In [66]:
date = "12 June 2020"
frmt = "%d %B %Y"

converted = dt.datetime.strptime(date, frmt)
converted

datetime.datetime(2020, 6, 12, 0, 0)

In [65]:
type(converted)

datetime.datetime

In [67]:
converted.year

2020

In [68]:
converted.month

6

In [69]:
converted.hour

0

datetime attributes

year, month, day, hour, minute, seconds

In [72]:
converted.date()

datetime.date(2020, 6, 12)

In [73]:
converted.time()

datetime.time(0, 0)

In [74]:
converted

datetime.datetime(2020, 6, 12, 0, 0)

In [76]:
converted.strftime("%B,%Y" )

'June,2020'

In [77]:
"My friend wedding was on " + converted.strftime("%B,%Y" )

'My friend wedding was on June,2020'

In [79]:
"My friend wedding was on " + converted.strftime("%d %B" )

'My friend wedding was on 12 June'

In [83]:
piaic_fsd = dt.datetime(2019,12,23,9,0,0)
piaic_fsd

datetime.datetime(2019, 12, 23, 9, 0)

In [84]:
piaic_fsd = dt.date(2019,12,23)
piaic_fsd

datetime.date(2019, 12, 23)

In [85]:
piaic_fsd = dt.time(9,0,0)
piaic_fsd

datetime.time(9, 0)

In [88]:
piaic_fsd = dt.datetime(2019,12,22,9,0,0)
piaic_fsd

datetime.datetime(2019, 12, 22, 9, 0)

In [89]:
piaic_fsd.strftime("%A")

'Sunday'

In [90]:
dtime = ["2020-12-1 9:30", "2020/12/2 9:30", "(2020,12,3,9:30)"]
clean_lst

In [ ]:
cleantime = [] # datetime datatype

days_words = []