In [1]:
employee1_name = "saad"
employee1_age = 27
employee1_salary = 45000

In [4]:
employee1 = ["saad",27,45000]

In [3]:
type(employee1)

list

In [6]:
employee2 = []

In [7]:
employee2.append("Ali")
employee2.append(23)
employee2.append(25000)

In [8]:
employee2

['Ali', 23, 25000]

In [9]:
employee2[1]

23

In [10]:
employee2[-2]

23

In [11]:
employee2.insert(1, "D.S")

In [12]:
employee2

['Ali', 'D.S', 23, 25000]

In [13]:
employee2.append("Data Sicence")

In [14]:
employee2

['Ali', 'D.S', 23, 25000, 'Data Sicence']

In [15]:
employee2[1],employee2[2], employee2[3]

('D.S', 23, 25000)

In [16]:
employee2[1:-2]

['D.S', 23]

In [18]:
employee2[1:-1] # slicing

['D.S', 23, 25000]

In [19]:
employee2[1] = "Data Scientist"

In [20]:
employee2

['Ali', 'Data Scientist', 23, 25000, 'Data Sicence']

In [21]:
employee2[-3]+=1

In [22]:
employee2

['Ali', 'Data Scientist', 24, 25000, 'Data Sicence']

In [ ]:
del employee2[-1] # poisition based

employee2.remove('Data Sicence') # item/element based removal

In [23]:
employee1

['saad', 27, 45000]

In [24]:
employee1.insert(1,"Data Engineer")
employee1.append("Data Science")

In [25]:
employee1

['saad', 'Data Engineer', 27, 45000, 'Data Science']

In [26]:
employee2

['Ali', 'Data Scientist', 24, 25000, 'Data Sicence']

In [27]:
len(employee1)

5

In [28]:
employees = [employee1, employee2]

In [29]:
employees

[['saad', 'Data Engineer', 27, 45000, 'Data Science'],
 ['Ali', 'Data Scientist', 24, 25000, 'Data Sicence']]

In [30]:
employees.append(["Sajid", "A.I", 29,60000, "Data Sceince"])

In [31]:
employees

[['saad', 'Data Engineer', 27, 45000, 'Data Science'],
 ['Ali', 'Data Scientist', 24, 25000, 'Data Sicence'],
 ['Sajid', 'A.I', 29, 60000, 'Data Sceince']]

In [32]:
len(employees)

3

In [34]:
employees[0][3] + employees[1][-2] + employees[-1][3] # dont use this way

130000

In [35]:
employees[0][3] + employees[1][3] + employees[2][3] # use this way

130000

In [36]:
employees[0][-2] + employees[1][-2] + employees[2][-2] # use this way

130000

In [37]:
employees

[['saad', 'Data Engineer', 27, 45000, 'Data Science'],
 ['Ali', 'Data Scientist', 24, 25000, 'Data Sicence'],
 ['Sajid', 'A.I', 29, 60000, 'Data Sceince']]

In [43]:
total_salary = 0

for lst in employees:
    s = lst[3]
    total_salary +=s

In [44]:
total_salary

130000

In [45]:
lst

['Sajid', 'A.I', 29, 60000, 'Data Sceince']

In [46]:
data = open("AppleStore.csv", encoding = "utf-8")

In [47]:
data

In [48]:
import csv

read = csv.reader(data)

In [49]:
read

In [50]:
applestore = list(read)

In [51]:
type(applestore)

list

In [52]:
len(applestore)

7198

In [53]:
print(applestore[:3])

[['id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic'], ['284882215', 'Facebook', '389879808', 'USD', '0.0', '2974676', '212', '3.5', '3.5', '95.0', '4+', 'Social Networking', '37', '1', '29', '1'], ['389801252', 'Instagram', '113954816', 'USD', '0.0', '2161558', '1289', '4.5', '4.0', '10.23', '12+', 'Photo & Video', '37', '0', '29', '1']]

In [56]:
usr_ratings = 0
for row in applestore[1:]:
    # print(type(row[7]))
    ratings = float(row[7])
    usr_ratings+=ratings

In [57]:
usr_ratings

25383.5